<!-- 5. Output the animalType string, pet boolean, and fierceness number to the page for all the pets. -->
<!-- will itterate through each in pets onject and display the properties on html-->
{{#each pets}}

<p>Type: {{animalType}}</p>
<p>Pet: {{pet}}</p>
<p>Fierceness: {{fierceness}}</p>


{{/each}}